.venv/
venv/
__pycache__/
*.pyc
.env

embeddings/*
!embeddings/.gitkeep

drive_cache/*
!drive_cache/.gitkeep

data/*
!data/.gitkeep

books/*
!books/.gitkeep

models/*
!models/.gitkeep

texts/*
!texts/.gitkeep

*.pdf
*.epub
*.txt
